
#container1 {
    display:block;
    margin:0 auto;
    text-align:center;
    -webkit-perspective:2000px;
    -moz-perspective:2000px;
    -ms-perspective:2000px;
    -o-perspective:2000px;
    perspective:2000px;
}

#itemdescription {
    position:relative;
    width:400px;
    margin:0 auto;
    left:6em;
    top:2em;
    font-size:50px;
    font-family:Pacifico;
    text-shadow:2px 2px 3px rgba(0,0,0,0.2);
}

#itemdescription span {
    display:none;
}

#itemlist {
    display:block;
    width:400px;
    margin:3em auto;
    position:relative;
    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    -ms-transform-style:preserve-3d;
    -o-transform-style:preserve-3d;
    transform-style:preserve-3d;
}

#itemlist img {
    position:absolute;
    cursor:pointer;
    left:0;
    box-shadow:0px 15px 50px rgba(0,0,0,0.4);
}

#itemlist img:hover {
    top:-5px;
}

#itemlist img.item-0 {
    z-index:4;
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
}

#itemlist img.item-1 {
    z-index:3;
    left:-80px;
    -webkit-transform:scale(0.9);
    -moz-transform:scale(0.9);
    -ms-transform:scale(0.9);
    -o-transform:scale(0.9);
    transform:scale(0.9);
}

#itemlist img.item-2 {
    z-index:2;
    left:-160px;
    -webkit-transform:scale(0.8);
    -moz-transform:scale(0.8);
    -ms-transform:scale(0.8);
    -o-transform:scale(0.8);
    transform:scale(0.8);
}

#itemlist img.item-3 {
    z-index:1;
    left:-240px;
    -webkit-transform:scale(0.7);
    -moz-transform:scale(0.7);
    -ms-transform:scale(0.7);
    -o-transform:scale(0.7);
    transform:scale(0.7);
}

.transition {
    -webkit-transition:0.5s ease-out;
    -moz-transition:0.5s ease-out;
    -ms-transition:0.5s ease-out;
    -o-transition:0.5s ease-out;
    transition:0.5s ease-out;
}

.show {
    -webkit-animation:show 1s linear;
    -moz-animation:show 1s linear;
    -ms-animation:show 1s linear;
    -o-animation:show 1s linear;
    animation:show 1s linear;
}

@-webkit-keyframes show{
    25% {
        left:-450px;
    }

    50% {
        z-index:5;
        left:-500px;
        -webkit-transform:rotate3d(0,1,0,0deg);
    }

    70% {
        z-index:5;
        left:-250px;
        -webkit-transform:rotate3d(0,1,0,180deg);
    }

    100% {
        z-index:5;
        left:0px;
        -webkit-transform:rotate3d(0,1,0,360deg);
    }
}

@-moz-keyframes show{
    25% {
        left:-450px;
    }

    50% {
        z-index:5;
        left:-500px;
        -moz-transform:rotate3d(0,1,0,0deg);
    }

    70% {
        z-index:5;
        left:-250px;
        -moz-transform:rotate3d(0,1,0,180deg);
    }

    100% {
        z-index:5;
        left:0px;
        -moz-transform:rotate3d(0,1,0,360deg);
    }
}

@-ms-keyframes show{
    25% {
        left:-450px;
    }

    50% {
        z-index:5;
        left:-500px;
        -ms-transform:rotate3d(0,1,0,0deg);
    }

    70% {
        z-index:5;
        left:-250px;
        -ms-transform:rotate3d(0,1,0,180deg);
    }

    100% {
        z-index:5;
        left:0px;
        -ms-transform:rotate3d(0,1,0,360deg);
    }
}

@-o-keyframes show{
    25% {
        left:-450px;
    }

    50% {
        z-index:5;
        left:-500px;
        -o-transform:rotate3d(0,1,0,0deg);
    }

    70% {
        z-index:5;
        left:-250px;
        -o-transform:rotate3d(0,1,0,180deg);
    }

    100% {
        z-index:5;
        left:0px;
        -o-transform:rotate3d(0,1,0,360deg);
    }
}

@keyframes show{
    25% {
        left:-450px;
    }

    50% {
        z-index:5;
        left:-500px;
        transform:rotate3d(0,1,0,0deg);
    }

    70% {
        z-index:5;
        left:-250px;
        transform:rotate3d(0,1,0,180deg);
    }

    100% {
        z-index:5;
        left:0px;
        transform:rotate3d(0,1,0,360deg);
    }
}









.about-text1{
color:#dddddd;
font-size:25px;
}
.about-text2{
color:#dddddd;
    font-size: 18px;
}

.banner-div{
text-align:center;
}

.about-text{
margin-left:34%
}
.title-list{
width:13.6%;
}

.on-about{
color:#555;
font-weight:600;
cursor:pointer;
}

.about-left{
margin-left:18.5%
}

.about-services{
padding:22px 0px 17px 0px;
margin-bottom:30px;
}

.text-left{
text-align:left
}

.pinpai-menu{
margin-left:10px;
    font-weight: 600;
    color: #333333;
    margin-top: 10px;
    margin-bottom: 0.5em;
}

.pinpai-desc{
font-size: 15px;
    line-height: 2.0;
    color: #666666;
}

.qiye-desc{
font-size: 15px;
    line-height: 3.0;
    color: #666666;
}


.about-two-menu{
font-size:15px;
color:#666666;
line-height:1.4;
}

.about-one-menu{
color:#555555;
font-size:20px;
}

.about-min{

padding-left:0px;
padding-right:0px;
}
.title-demo {
    margin-top: 90px;
}

.about-info{
width:100%;
margin-top:44%;
}

.about-sop{
background:#313131;
}

.sop-title{
margin-top:70px;
color:#dddddd;
font-size:18px;
text-align:center
}

.sop-desc{
color:#dddddd;
font-size:15px;
text-align:center;
line-height:2.0
}

.sop-border{
background:#373737;
height:340px
}


.about-text-center{
text-align:center;
}

.sop-border-text-title{
margin-bottom:47px;
color:#eeeeee;
font-weight:600;
padding-top:50px;
font-size:17px;
}

.sop-border-text-desc{
    width: 80%;
    margin-left: 10%;
color:#999999;
line-height:2.0;
margin-top:50px;
font-size:12px;
}

.about-bottom{
margin-bottom:60px;
}

     .content-v {
                 box-sizing: border-box;
                 position: relative;
                 height:180px;
                 border: 1px solid #E2E3E4;
             }

             .content-v::before {
             width: 0;
                 height: 0;
                 content: "";
                 background: white;
                 position: absolute;
                 left: 226px;
                 top: 179px;
                 border-left: solid 35px transparent;
                 border-top: solid 20px #ccc;
                 border-right: solid 23px transparent;
             }

             .content-v::after {
              width: 0;
                  height: 0;
                  content: "";
                  position: absolute;
                  left: 226px;
                  top: 178px;
                  border-left: solid 35px transparent;
                  border-top: solid 20px white;
                  border-right: solid 23px transparent;
             }





             .content-v2 {
                              box-sizing: border-box;
                              position: relative;
                              height:180px;
                              border: 1px solid #E2E3E4;
                              border-top:5px solid #ff2c63;
                          }

                          .content-v2::before {
                          width: 0;
                              height: 0;
                              content: "";
                              background: white;
                              position: absolute;
                              left: 226px;
                              top: 175px;
                              border-left: solid 35px transparent;
                              border-top: solid 20px #ccc;
                              border-right: solid 23px transparent;
                          }

                          .content-v2::after {
                           width: 0;
                               height: 0;
                               content: "";
                               position: absolute;
                               left: 226px;
                               top: 174px;
                               border-left: solid 35px transparent;
                               border-top: solid 20px white;
                               border-right: solid 23px transparent;
                          }



             .v-title{
                font-size: 18px;
                color: #777;
                font-weight: 600;
                text-align: left;
                padding: 42px 10px 0px 43px;
             }

                  .v-desc{
                              text-align: left;
                              padding:0px 0px 11px 43px;
                          }


                          .about-build{
                              border: 0;
                              line-height: 2.5;
                              background: transparent;
                          }

                          .about-dev{
                            background: #ccc;
                          }


                           .about-build:hover{
                                                       color:#67d1a3;
                                                       background:transparent;
                                                    }

                                                      .about-build:focus{
                                                                                                           color:#67d1a3;
                                                                                                           background:transparent;
                                                                                                        outline: none;
                                                                                                        border-color: transparent;
                                                                                                        box-shadow:none;
                                                                                                        }


                                                      #huoban .col-md-2{
                                                          width: 19.66667%;
                                                      }