<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="index/index/head :: head(~{::title},~{::link},~{::style})">
    <title th:text=${title}></title>
    <link rel="stylesheet" th:href="@{{path}static/index/css/about.css(path=${rootPath})}">
    <style type="text/css">
    </style>
</head>
<style>
    ul,li{
            list-style: none;
        }

        .total-police-alert{
	width: 500px;
	height: 90px;
	padding: 10px;
	margin: 100px auto 0;
	font: 36px "华文楷体";
	line-height: 90px;
	color: #fff;
	box-shadow: -2px 2px 10px #000;
	background-color: rgba(81,167,229,1.00);
	border-radius: 10px;
        }
        .fl{
            float:left;
        }
        .fr{
            float:right;
        }


</style>
<body style="min-width:1500px">
<!--头文件-->
<div th:replace="index/index/top :: topMenu(${parenttitle},${isribbon})">
</div>
<!--轮播图-->
<div class="banner-engine">
    <ul class="banner-ul clearfix" id="slider-back">
        <li style="background:url(/static/index/images/about/banner.png) center center /100% 500px no-repeat;"></li>
        <li style="background:url(/static/index/images/about/banner.png) center center /100% 500px no-repeat;"></li>
        <li style="background:url(/static/index/images/about/banner.png) center center  /100% 500px no-repeat;"></li>
    </ul>
    <!-- 对应banner文字 -->
    <div class="slider-main banner-div">
        <div class="banner-text about-text">
            <div class="slider-text" data-start_top="30" data-to_top="0">
                <p class="about-text1">"正直，笃行，责任，进取，创新"</p>
                <p class="about-text1">我们不断成长的信念</p>
                <p class="about-text2">" integrity, commitment, responsibility, progress, innovation"</p>
            </div>
        </div>
        <div class="banner-text about-text">
            <div class="slider-text" data-start_top="30" data-to_top="0">
                <p class="about-text1">"正直，笃行，责任，进取，创新"</p>
                <p class=" about-text1">我们不断成长的信念</p>
                <p class="about-text2">" integrity, commitment, responsibility, progress, innovation"</p>
            </div>
        </div>
        <div class="banner-text about-text">
            <div class="slider-text" data-start_top="30" data-to_top="0">
                <p class="about-text1">"正直，笃行，责任，进取，创新"</p>
                <p class=" about-text1">我们不断成长的信念</p>
                <p class="about-text2">" integrity, commitment, responsibility, progress, innovation"</p>
            </div>
        </div>
    </div>
    <!-- banner索引 -->
    <div class="banner-point">
        <div class="auto">
            <ul class="banner-area" id="slider-btn">
                <li class="active" data-delay="12000"></li>
                <li data-delay="8000"></li>
                <li data-delay="8000"></li>
            </ul>
        </div>
    </div>

</div>

<!--导航栏-->
<div class=" animate-box">
    <div class="container button-demo ">
        <div class="row">
            <div class="col-md-8 about-left text-center animate-box">
                <div class="col-md-2 title-list">
                    <div class="about-services">
                        <a href="#" class="on-about">了解企牛牛</a>
                    </div>
                </div>
                <div class="col-md-2 title-list">
                    <div class="about-services">
                        <a id="SuccessCasesLink" class="on-about">成功案例</a>
                    </div>
                </div>
                <div class="col-md-2 title-list">
                    <div class="about-services">
                        <a id="GuanliLink"  class="on-about">质量管理体系</a>
                    </div>
                </div>
                <div class="col-md-2 title-list">
                    <div class="about-services">
                        <a id="ServiceLink" class="on-about">服务标准</a>
                    </div>
                </div>
                <div class="col-md-2  title-list">
                    <div class="about-services">
                        <a id="ManagerLink" class="on-about">大客户经理职责</a>
                    </div>
                </div>
                <div class="col-md-2 title-list">
                    <div class="about-services">
                        <a id="newsLink" class="on-about">新闻动态</a>
                    </div>
                </div>
                <div class="col-md-2 title-list">
                    <div class="about-services">
                        <a id="huobanLink" class="on-about">合作伙伴</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="container1">
                        <div id="itemlist">
                            <img src="/static/index/images/about/about-pic1.png" alt="" id="busby" />
                            <img src="/static/index/images/about/about-pic2.png" alt="" id="gridly" />
                            <!--<img src="/static/index/images/about/about-pic3.png" alt="" id="reco" />-->
                            <!--<img src="/static/index/images/about/about-pic4.png" alt="" id="theblog" />-->
                        </div>
                    </div>

                    <!--<image src="/static/index/images/about/about-pic.png" style="    width: 100%;"/>-->
                </div>
                <div class="col-md-6 text-left">
                    <p class="one-menu">了解企牛牛</p>
                    <p class="qiye-desc">同年(上海)网络科技优先公司(简称上海同年)，是以科技为驱动，致力于服务业的互联网科技公司。同年成立于2017年，立足于上海，服务来自全球的
                        百家企业和品牌。起初以H5开发为主要业务，在后续的发展中成功运营上海本地生活类订阅号【掌上魔都】，并且在2015年与【微信临客(wxlinked.com)】团队合并
                        研发智慧会务管理平台--【有我】。我们在定位发展上的三部曲:掌上魔都，企牛牛，"有我"智慧会务平台。互相衔接，内在联系形成了上海同年
                        独有的生态体系。</p>
                    <image src="/static/index/images/about/logo.png"/>
                </div>
            </div>
        </div>
    </div>
<!--服务栏目-->
    <div class="container button-demo  " style="    margin-top: 150px;">
        <div class="row">
            <div class="col-md-8 about-left  animate-box">
                <div class="col-md-4">
                    <div class="col-md-2">
                        <image src="/static/index/images/about/niu.png"/>
                    </div>
                    <div class="col-md-8">
                        <p class="pinpai-menu">企牛牛企业服务</p>
                        <p class="pinpai-desc">提供企业技术服务，是腾讯众创在上海唯一的合作伙伴，为企业与品牌方提供技术开发创意与咨询服务，将来在企业服务领域将进一步提供服务能力。</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-2">
                        <image src="/static/index/images/about/guanli.png"/>
                    </div>
                    <div class="col-md-8">
                        <p class="pinpai-menu">有我智慧会务管理平台</p>
                        <p class="pinpai-desc">是公司自主研发的智慧会务应用平台，提供年会解决方案，海量创意让年会玩的不一样，会务管理应用，12个应用组件，让会务变得简单，有科技感。</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-2">
                        <image src="/static/index/images/about/modu.png"/>
                    </div>
                    <div class="col-md-8">
                        <p class="pinpai-menu">掌上魔都新媒体</p>
                        <p class="pinpai-desc">上海本地生活类订阅号，是上海最大的年轻团队"玩咖"的聚集地，推荐有温度，接地气，有情怀的魔都"吃喝玩乐"一手情报，欢迎扎堆，围观！</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--客户成功案例-->
<div id="SuccessCases" class="container title-demo" style="margin-top: 80px;">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <p class="about-one-menu">客户成功案例</p>
            <p class="about-two-menu">我们提供客服创新易用的解决方案的同时给与客服最贴心的服务，提升客户体验与品质</p>
            <p class="about-two-menu">无论您是何种行业身处何处；我们都能提供贴心完善的服务</p>
        </div>
    </div>
</div>

<!--客户成功案例-->
<div class="container button-demo  animate-box" style=" margin-top: -90px;position: relative;">
    <div class="row">
        <div class="col-md-8 about-left  animate-box" style="    position: absolute;">
            <div class="col-md-3 about-min">
                <image src="/static/index/images/about/card1.png" data-src="/static/index/images/about/card4.png" class="about-icon about-info"/>
            </div>
            <div class="col-md-3 about-min">
                <image src="/static/index/images/about/card2.png" data-src="/static/index/images/about/card4.png" class="about-icon about-info"/>
            </div>
            <div class="col-md-3 about-min">
                <image src="/static/index/images/about/card1.png" data-src="/static/index/images/about/card4.png" class="about-icon about-info"/>
            </div>
            <div class="col-md-3 about-min">
                <image src="/static/index/images/about/card2.png" data-src="/static/index/images/about/card4.png" class="about-icon about-info"/>
                <!--<image src="/static/index/images/about/card4.png" width="100%"/>-->
            </div>
        </div>
    </div>
</div>

<!--质量管理体系-->
<div id="Guanli" class="container  about-sop" style="    margin-top: 29%;">
    <div class="row">
        <div class="col-md-8 about-left  animate-box about-bottom">
            <p class="sop-title">质量管理体系 SOP MOC 5A管理模式</p>
            <p class="sop-desc">我们提供客户创新易用的解决方案的同时给与客服最贴心的的服务，提升客服体验与品质，无论您是何种行业身处何处；我们都能提供贴心完善的服务。
                我们提供客户创新易用的解决方案的同时给与客服最贴心的的服务，提升客服体验与品质，无论您是何种行业身处何处；我们都能提供贴心完善的服务。
                我们提供客户创新易用的解决方案的同时给与客服最贴心的的服务，提升客服体验与品质，无论您是何种行业身处何处；我们都能提供贴心完善的服务。</p>
            <div class="col-md-3  about-text-center">
                <div class="sop-border">
                    <p class="sop-border-text-title">质量管理体系</p>
                    <image src="/static/index/images/about/icon1.png"/>
                    <p class="sop-border-text-desc">我们提供客户创新易用的解决方案的同时给与客服最贴心的的服务，提升客服</p>
                </div>
            </div>
            <div class="col-md-3  about-text-center">
                <div class="sop-border">
                    <p class="sop-border-text-title">SOP</p>
                    <image src="/static/index/images/about/icon2.png"/>
                    <p class="sop-border-text-desc">我们提供客户创新易用的解决方案的同时给与客服最贴心的的服务，提升客服</p>
                </div>
            </div>
            <div class="col-md-3  about-text-center">
                <div class="sop-border">
                    <p class="sop-border-text-title">MOC</p>
                    <image src="/static/index/images/about/icon3.png"/>
                    <p class="sop-border-text-desc">我们提供客户创新易用的解决方案的同时给与客服最贴心的的服务，提升客服</p>
                </div>
            </div>
            <div class="col-md-3  about-text-center">
                <div class="sop-border">
                    <p class="sop-border-text-title">5A管理模式</p>
                    <image src="/static/index/images/about/icon4.png"/>
                    <p class="sop-border-text-desc">我们提供客户创新易用的解决方案的同时给与客服最贴心的的服务，提升客服</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--企牛牛服务-->
<div id="Service" class="container title-demo">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center ">
            <p class="about-one-menu">企牛牛服务综合、基石、宗旨、客户服务标准(响应时间、反馈)</p>
            <p class="about-two-menu">我们提供客服创新易用的解决方案的同时给与客服最贴心的服务，提升客户体验与品质
                我们提供客服创新易用的解决方案的同时给与客服最贴心的服务，提升客户体验与品质
                我们提供客服创新易用的解决方案的同时给与客服最贴心的服务，提升客户体验与品质
                我们提供客服创新易用的解决方案的同时给与客服最贴心的服务，提升客户体验与品质
                我们提供客服创新易用的解决方案的同时给与客服最贴心的服务，提升客户体验与品质
                我们提供客服创新易用的解决方案的同时给与客服最贴心的服务，提升客户体验与品质</p>
            <div class="col-md-4 ">
                <div class="content-v cover-view-pink">
                    <p class="v-title">企牛牛五大基石</p>
                    <p class="v-desc">正直，笃行，责任，进取，创新</p>
                </div>
                <hr style="margin-top: 13px;border-top:1px solid #E2E3E4;"/>
            </div>
            <div class="col-md-4 ">
                <div class="content-v cover-view-pink">
                    <p class="v-title">企牛牛服务宗旨</p>
                    <p class="v-desc">为企业提供多方位专业技术支持，直营模式提供高品质服务</p>
                </div>
                <hr style="margin-top: 13px;border-top:1px solid #E2E3E4;"/>
            </div>
            <div class="col-md-4 ">
                <div class="content-v cover-view-pink">
                    <p class="v-title">企牛牛客户服务标准</p>
                    <p class="v-desc">自研标准化操作流程，提高服务效率，提升产品品质</p>
                </div>
                <hr style="margin-top: 13px;border-top:1px solid #E2E3E4;"/>
            </div>
        </div>
    </div>
</div>

<!--大客户经理职责-->
<div id="Manager" class="container title-demo">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center ">
            <p class="about-one-menu">大客户经理职责</p>
            <p class="about-two-menu">我们提供客服创新易用的解决方案的同时给与客服最贴心的服务，提升客户体验与品质
                我们提供客服创新易用的解决方案的同时给与客服最贴心的服务，提升客户体验与品质
                我们提供客服创新易用的解决方案的同时给与客服最贴心的服务，提升客户体验与品质
                我们提供客服创新易用的解决方案的同时给与客服最贴心的服务，提升客户体验与品质
                我们提供客服创新易用的解决方案的同时给与客服最贴心的服务，提升客户体验与品质
                我们提供客服创新易用的解决方案的同时给与客服最贴心的服务，提升客户体验与品质</p>
            <div class="col-md-3">
                <button class="btn btn-default about-build">大客户经理职责</button>
            </div>
            <div class="col-md-3 about-dev ">
                <button class="btn btn-default about-build">大客户经理职责</button>
            </div>
            <div class="col-md-3 ">
                <button class="btn btn-default about-build">大客户经理职责</button>
            </div>
            <div class="col-md-3 about-dev ">
                <button class="btn btn-default about-build">大客户经理职责</button>
            </div>
        </div>
    </div>
</div>

<!--新闻动态-->
<div id="news" class="container button-demo" style="margin-top:130px">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center ">
            <p class="about-one-menu">新闻动态</p>
            <p class="about-two-menu">新闻行业动态尽在企牛牛，关注企牛牛，了解最新资讯动态</p>
        </div>
    </div>
</div>
<!--新闻-->
<div class="col-md-8 col-md-offset-2  animate-box">
    <div class="row row-bottom-padded-sd">
        <div class="col-lg-4 col-md-4 news-row">
            <div class=" fh5co-blog">
                <a href="#"><img class="img-responsive" src="/static/index/images/about/news1.png" alt=""></a>
                <div class="blog-text"
                     style="border:0;-webkit-box-shadow: none;-moz-box-shadow: none;-ms-box-shadow: none;-o-box-shadow: none;box-shadow: none;">
                    <div class="prod-title">
                        <p class="news-desc"><a class="news-desc-a" href="#">国美进军黄金珠宝行业 国内首家"一站式购金"平台发布...</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 news-row">
            <div class="fh5co-blog ">
                <a href="#"><img class="img-responsive" src="/static/index/images/about/news2.png" alt=""></a>
                <div class="blog-text"
                     style="border:0;-webkit-box-shadow: none;-moz-box-shadow: none;-ms-box-shadow: none;-o-box-shadow: none;box-shadow: none;">
                    <div class="prod-title">
                        <p class="news-desc"><a class="news-desc-a" href="#">法制日报:保护崔永元 也是保护人们对法律的信任</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 news-row">
            <div class="fh5co-blog">
                <a href="#"><img class="img-responsive" src="/static/index/images/about/news3.png" alt=""></a>
                <div class="blog-text"
                     style="border:0;-webkit-box-shadow: none;-moz-box-shadow: none;-ms-box-shadow: none;-o-box-shadow: none;box-shadow: none;">
                    <div class="prod-title">
                        <p class="news-desc"><a class="news-desc-a" href="#">抗癌药入医保民众买得到吗？国家医保局释疑</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2 text-center">
            <button class="btn btn-default" style="margin-top: 60px;">查看更多+</button>
        </div>
    </div>
</div>

<!--合作伙伴-->
<div class="container button-demo animate-box logo-bottom" id="huoban">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">

            <p class="one-menu">合作伙伴</p>
            <p style="font-size:14px">致力成为值得信赖的服务商</p>
            <p style="font-size:14px">创意H5设计、咨询 | 网站建设、运维 | 微信公众号开发 | 小程序开发</p>
            <div class="row">
                <div class="col-md-2 col-sm-2">
                    <image src="/static/index/images/about/logo1.png"/>
                </div>
                <div class="col-md-2 col-sm-2">
                    <image src="/static/index/images/about/logo2.png"/>
                </div>
                <div class="col-md-2 col-sm-2">
                    <image src="/static/index/images/about/logo3.png"/>
                </div>
                <div class="col-md-2 col-sm-2">
                    <image src="/static/index/images/about/logo4.png"/>
                </div>
                <div class="col-md-2 col-sm-2">
                    <image src="/static/index/images/about/logo5.png"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-2" style="    margin-top: 36px;">
                    <image src="/static/index/images/about/logo6.png"/>
                </div>
                <div class="col-md-2 col-sm-2 logo-line">
                    <image src="/static/index/images/about/logo7.png"/>
                </div>
                <div class="col-md-2 col-sm-2 logo-line">
                    <image src="/static/index/images/about/logo8.png"/>
                </div>
                <div class="col-md-2 col-sm-2 logo-line">
                    <image src="/static/index/images/about/logo9.png"/>
                </div>
                <div class="col-md-2 col-sm-2 logo-line">
                    <image src="/static/index/images/about/logo10.png"/>
                </div>
            </div>


        </div>
    </div>
</div>

<div th:replace="index/index/side :: side"></div>
<div th:replace="index/index/footer :: footer"></div>
<div th:include="index/index/js :: onload_js">
</div>
<script type="text/javascript" src="/static/admin/assets/js/toggle_close.js"></script>
<script type="text/javascript" src="/static/index/js/public.js"></script>
<script src="/static/index/js/about.js"></script>
<script type="text/javascript">

    SearchTittle("#SuccessCasesLink","#SuccessCases");
    SearchTittle("#GuanliLink","#Guanli");
    SearchTittle("#ServiceLink","#Service");
    SearchTittle("#ManagerLink","#Manager");
    SearchTittle("#newsLink","#news");
    SearchTittle("#huobanLink","#huoban");


    var imgHoverReplaceSrc = {
        init: function (sel) {
            this.sel = sel || "img";
            this.imgList = document.querySelectorAll(sel);
            this.work();
        },
        work: function () {
            var _this = this;
            this.imgList.forEach(function (item) {
                item.addEventListener("mouseenter", function () {
                    _this.changeSrc(item);
                    // item.className = "animate-box";
                });
                item.addEventListener("mouseleave", function () {
                    _this.changeSrc(item);
                    // item.className = "animate-box";
                });
            });
        },
        changeSrc: function (item) {
            if (item.getAttribute('data-src')) {
                var tmpSrc = item.src;
                item.src = item.getAttribute('data-src');
                item.setAttribute('data-src', tmpSrc);
            }
        }
    }
    imgHoverReplaceSrc.init(".about-icon");

$(function() {
    var d = $("#slider-btn li");
    var j = $("#slider-back li");
    var a = $(".banner-text");
    var h = $(".slider-text");
    var e = $(".banner-txt a");
    var i = 0;
    d.each(function(l) {
        $(this).mouseover(function() {
            f(l)
        });
        $(this).data("index")
    });
    function f(l) {
        i = l;
        d.eq(l).addClass("active").siblings().removeClass();
        var m = a.eq(l);
        var n = m.children();
        m.siblings(".banner-text").stop(true).fadeOut(100);
        m.show();
        n.each(function() {
            var o = $(this);
            o.css({
                display: "block",
                opacity: 0,
                top: o.data("start_top") || 0,
                left: o.data("start_left") || 0
            });
            o.stop(true).delay(400).animate({
                display: "none",
                opacity: 1,
                top: o.data("to_top"),
                left: o.data("to_left")
            },
            1200);
            if (o.data("class") !== undefined) {
                o.removeClass(o.data("class"));
                setTimeout(function() {
                    o.addClass(o.data("class"))
                },
                0)
            }
        });
        j.eq(l).siblings().stop().animate({
            opacity: 0
        },
        600);
        j.eq(l).stop().animate({
            opacity: 1
        },
        600)
    }
    function g() {
        i++;
        if (i == d.length) {
            i = 0
        }
        f(i)
    }
    var c = null;
    var b = $("#slider-btn");
    var k = function() {
        var l = b.find(".active");
        c = setTimeout(function() {
            g();
            k()
        },
        l.data("delay") || 8000)
    };
    k();
    d.hover(function() {
        clearInterval(c)
    },
    function() {
        k()
    });
    f(0)
});

</script>
</body>
</html>
