<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="index/index/head :: head(~{::title},~{::link},~{::style})">
    <title th:text=${title}></title>
    <link rel="stylesheet" th:href="@{{path}static/index/css/business.css(path=${rootPath})}">
    <style type="text/css">
    </style>
</head>
<style>
    ul,li{
            list-style: none;
        }

        .total-police-alert{
	width: 500px;
	height: 90px;
	padding: 10px;
	margin: 100px auto 0;
	font: 36px "华文楷体";
	line-height: 90px;
	color: #fff;
	box-shadow: -2px 2px 10px #000;
	background-color: rgba(81,167,229,1.00);
	border-radius: 10px;
        }
        .fl{
            float:left;
        }
        .fr{
            float:right;
        }


</style>
<body style="min-width:1500px">
<div th:replace="index/index/top :: topMenu(${parenttitle},${isribbon})">
</div>

<div class="banner-engine">
    <ul class="banner-ul clearfix" id="slider-back">
        <li style="background:url(/static/index/images/about1.jpg) center center /100% 500px no-repeat;"></li>
        <li style="background:url(/static/index/images/about1.jpg) center center /100% 500px no-repeat;"></li>
        <li style="background:url(/static/index/images/about1.jpg) center center /100% 500px no-repeat;"></li>
    </ul>
    <!-- 对应banner文字 -->
    <div class="slider-main banner-div">
        <div class="banner-text">
            <div class="slider-text" data-start_top="30" data-to_top="0" data-start_left="0" data-to_left="0">
                <p class="business-text1">智慧商圈解决方案</p>
                <p class=" business-text2">智慧商圈以微信公众号作为"智慧商圈"线上服务的统一入口，结合微信支付、微信优惠券等系统，围绕百姓的衣食住行，深入商圈线下业务场景，实现整体
                    服务能力的移动化、社交化、便捷化，提高商圈的商业能力和服务能力。企牛牛致力于为传统行家解决从线下到线上，涵盖营销、服务、支付、客户管理的闭环，端到端的解决方案，以满足传统商户的移动化、智慧化需求。</p>
                <a class="banner-link-button" href="#">在线咨询</a>
            </div>
        </div>
        <div class="banner-text">
            <div class="slider-text" data-start_top="30" data-to_top="0" data-start_left="0" data-to_left="0">
                <p class="business-text1">智慧商圈解决方案</p>
                <p class=" business-text2">智慧商圈以微信公众号作为"智慧商圈"线上服务的统一入口，结合微信支付、微信优惠券等系统，围绕百姓的衣食住行，深入商圈线下业务场景，实现整体
                    服务能力的移动化、社交化、便捷化，提高商圈的商业能力和服务能力。企牛牛致力于为传统行家解决从线下到线上，涵盖营销、服务、支付、客户管理的闭环，端到端的解决方案，以满足传统商户的移动化、智慧化需求。</p>
                <a class="banner-link-button" href="#">在线咨询</a>
            </div>
        </div>
        <div class="banner-text">
            <div class="slider-text" data-start_top="30" data-to_top="0" data-start_left="0" data-to_left="0">
                <p class="business-text1">智慧商圈解决方案</p>
                <p class=" business-text2">智慧商圈以微信公众号作为"智慧商圈"线上服务的统一入口，结合微信支付、微信优惠券等系统，围绕百姓的衣食住行，深入商圈线下业务场景，实现整体
                    服务能力的移动化、社交化、便捷化，提高商圈的商业能力和服务能力。企牛牛致力于为传统行家解决从线下到线上，涵盖营销、服务、支付、客户管理的闭环，端到端的解决方案，以满足传统商户的移动化、智慧化需求。</p>
                <a class="banner-link-button" href="#">在线咨询</a>
            </div>
        </div>
    </div>
    <!-- banner索引 -->
    <div class="banner-point">
        <div class="auto">
            <ul class="banner-area" id="slider-btn">
                <li class="active" data-delay="12000"></li>
                <li data-delay="8000"></li>
                <li data-delay="8000"></li>
            </ul>
        </div>
    </div>

</div>


<div class="container button-demo menu-bottom">
    <div class="row">
        <div class="col-md-12 business-left text-center animate-box">
            <div class="col-md-1  ">
                <div class="business-services">
                    <a class="on-about">逻辑架构</a>
                </div>
            </div>
            <div class="col-md-1  ">
                <div class="business-services">
                    <a class="on-about">优势商圈</a>
                </div>
            </div>
            <div class="col-md-1  ">
                <div class="business-services">
                    <a class="on-about">线上服务</a>
                </div>
            </div>
            <div class="col-md-1  ">
                <div class="business-services">
                    <a class="on-about">商圈与用户互动</a>
                </div>
            </div>
            <div class="col-md-1   ">
                <div class="business-services">
                    <a class="on-about">促销活动</a>
                </div>
            </div>
            <div class="col-md-1  ">
                <div class="business-services">
                    <a class="on-about">会员积分</a>
                </div>
            </div>
            <div class="col-md-1  ">
                <div class="business-services">
                    <a class="on-about">优惠活动</a>
                </div>
            </div>
            <div class="col-md-1  ">
                <div class="business-services">
                    <a class="on-about">商圈背景</a>
                </div>
            </div>
            <div class="col-md-1  ">
                <div class="business-services">
                    <a class="on-about">预约点餐</a>
                </div>
            </div>
            <div class="col-md-1  ">
                <div class="business-services">
                    <a class="on-about">小票寻宝</a>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="animate-box">
    <div class="container button-demo ">
        <div class="row">
            <div class="text-center">
                <p class="business-one-menu">智慧商圈商业模式逻辑架构</p>
            </div>
            <div class="col-md-8 business-row">
                <div class="col-md-8">
                    <image src="/static/index/images/business.jpg" width="100%"/>
                </div>
                <div class="col-md-4 text-left">
                    <p class="business-menu">智慧商圈解决方案</p>
                    <p class="business-desc">智慧商圈以微信公众号作为"智慧商圈"线上服务的统一入口，结合微信支付、微信优惠券等系统，围绕百姓的衣食住行，深入商圈线下业务场景，实现整体
                        服务能力的移动化、社交化、便捷化，提高商圈的商业能力和服务能力。</p>
                    <p class="business-desc"> 企牛牛致力于为传统行家解决从线下到线上，涵盖营销、服务、支付、客户管理的闭环，端到端的解决方案，以满足传统商户的移动化、智慧化需求。</p>
                    <button class="btn btn-blue btn-center business-btn-margin">方案咨询</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="animate-box">
    <div class="container button-demo ">
        <div class="row">
            <div class="text-center">
                <p class="business-one-menu">智慧商圈是新时代的产物体验和服务 是线下商圈不可替代的优势</p>
            </div>
            <div class="col-md-8 business-row">
                <div class="col-md-3 ">
                    <div class="div-shadow">
                        <div class="text-center div-gray">
                            <p class="fa fa-user fa-2x gray-icon"></p>
                            <p class="gray-menu">个性化营销</p>
                        </div>
                        <div class="div-white">
                            <div class="div-white-desc">
                                <p class="div-white-desc-p">让客户随时随地获取服务，如商圈内的优惠信息、活动信息、人流信息、停车位信息、折扣信息等</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="div-shadow">
                        <div class="text-center div-gray">
                            <p class="fa fa-user fa-2x gray-icon"></p>
                            <p class="gray-menu">用户粘度高</p>
                        </div>
                        <div class="div-white">
                            <div class="div-white-desc">
                                <p class="div-white-desc-p">
                                    让客户随时参与与商户的互动，提高用户的活跃度、忠诚度、转化率，提高商户的服务能力及销售额和利润，活跃整个商圈的氛围</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="div-shadow">
                        <div class="text-center div-gray">
                            <p class="fa fa-user fa-2x gray-icon"></p>
                            <p class="gray-menu">精准直达</p>
                        </div>
                        <div class="div-white">
                            <div class="div-white-desc">
                                <p class="div-white-desc-p">微信让信息发布直达用户，更加有效和精准、快速，并且行程量化，消息轻松触达用户身边</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="div-shadow">
                        <div class="text-center div-gray">
                            <p class="fa fa-user fa-2x gray-icon"></p>
                            <p class="gray-menu">支付与社交融合</p>
                        </div>
                        <div class="div-white">
                            <div class="div-white-desc">
                                <p class="div-white-desc-p">微信支付有效的为商户提供二次营销的能力，支付完成后轻松分享朋友圈，有效利用社交链关系</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="animate-box">
    <div class="container button-demo ">
        <div class="row">
            <div class="text-center">
                <p class="business-one-menu">微信公众号是智慧商圈其中一个入口商圈应用公众号用户提供线上服务</p>
            </div>
            <div class="col-md-8 business-row">
                <div class="col-md-3 ">
                        <div class="div-card div-red">
                            <div class="col-md-4">
                                <p class="fa fa-user fa-4x card-icon"></p>
                            </div>
                            <div class="col-md-8">
                                <p class="business-card-title">商圈信息展示</p>
                                <p class="business-card-desc">展示商圈的整体概貌、商圈介绍、360度虚拟逛街、上架导航服务</p>
                            </div>
                        </div>
                </div>

                <div class="col-md-3 ">
                        <div class="div-card div-red">
                            <div class="col-md-4">
                                <p class="fa fa-user fa-4x card-icon"></p>
                            </div>
                            <div class="col-md-8">
                                <p class="business-card-title">商圈信息展示</p>
                                <p class="business-card-desc">包括商家列表，商家介绍及商家信息详情</p>
                            </div>
                        </div>
                </div>
                <div class="col-md-3 ">
                        <div class="div-card div-red">
                            <div class="col-md-4">
                                <p class="fa fa-user fa-4x card-icon"></p>
                            </div>
                            <div class="col-md-8">
                                <p class="business-card-title">促销服务</p>
                                <p class="business-card-desc">包括优惠券的展示和发放</p>
                            </div>
                    </div>
                </div>
                <div class="col-md-3 ">
                        <div class="div-card div-red">
                            <div class="col-md-4">
                                <p class="fa fa-user fa-4x card-icon"></p>
                            </div>
                            <div class="col-md-8">
                                <p class="business-card-title">活动服务</p>
                                <p class="business-card-desc">用户可以参与扫码活动或者扫一扫活动</p>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 business-row">
                <div class="col-md-3 ">
                        <div class="div-card div-red">
                            <div class="col-md-4">
                                <p class="fa fa-user fa-4x card-icon"></p>
                            </div>
                            <div class="col-md-8">
                                <p class="business-card-title">餐饮服务</p>
                                <p class="business-card-desc">用户通过公众号进行商圈餐饮商家的点餐预定、排号和消费</p>
                            </div>
                    </div>
                </div>
                <div class="col-md-3 ">
                        <div class="div-card div-red">
                            <div class="col-md-4">
                                <p class="fa fa-user fa-4x card-icon"></p>
                            </div>
                            <div class="col-md-8">
                                <p class="business-card-title">智慧停车</p>
                                <p class="business-card-desc">包括停车导航、停车优惠券、停车费微信支付</p>
                            </div>
                    </div>
                </div>
                <div class="col-md-3 ">
                        <div class="div-card div-red">
                            <div class="col-md-4">
                                <p class="fa fa-user fa-4x card-icon"></p>
                            </div>
                            <div class="col-md-8">
                                <p class="business-card-title">会员服务</p>
                                <p class="business-card-desc">包括会员卡服务和积分服务</p>
                            </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container animate-box business-sop">
    <div class="row">
        <div class="col-md-8 jindu-left  animate-box business-bottom">
            <p class="sop-title">结合硬件辅助，智慧商圈真正与用户互动起来</p>
            <section class="aui-myOrder-content">
                <div class="m-tab demo-small-pitch" data-ydui-tab>
                    <div class="aui-myOrder-fix">
                        <ul class="tab-nav">
                            <li class="tab-nav-item tab-active"><a href="javascript:;">微信WIFI</a></li>
                            <li class="tab-nav-item"><a href="javascript:;">微信摇周边</a></li>
                            <li class="tab-nav-item"><a href="javascript:;">微信收银台</a></li>
                            <li class="tab-nav-item"><a href="javascript:;">小程序的运用</a></li>

                        </ul>
                    </div>
                    <div class="tab-panel">
                        <div class="tab-panel-item tab-active">
                            <div class="col-md-6 ">
                                <div class="col-md-10">
                                    <p class="tab-nav-left-menu">微信连WIFI是微信推出的快速连接WIFI热点的功能，用户通过微信的"扫一扫"即可快速连接，通过点击提示，也可查看商户公众号，优惠活动等信息</p>
                                    <p class="tab-nav-left-title">对于商家</p>
                                    <p class="tab-nav-left-desc">解决用户到点使用WIFI问题，通过WIFI设置链接更多商机</p>
                                    <p class="tab-nav-left-title">对于用户</p>
                                    <p class="tab-nav-left-desc">到店享受WIFI，并通过进入WIFI定制页面了解更多信息</p>
                                </div>
                            </div>
                            <div class="col-md-6 ">

                                    <img class="img-responsive" src="/static/index/images/business-right.jpg" alt="">

                            </div>
                        </div>
                        <div class="tab-panel-item">
                            <div class="col-md-6 ">
                                <div class="col-md-10">
                                    <p class="tab-nav-left-menu">微信连WIFI是微信推出的快速连接WIFI热点的功能，用户通过微信的"扫一扫"即可快速连接，通过点击提示，也可查看商户公众号，优惠活动等信息</p>
                                    <p class="tab-nav-left-title">对于商家</p>
                                    <p class="tab-nav-left-desc">解决用户到点使用WIFI问题，通过WIFI设置链接更多商机</p>
                                    <p class="tab-nav-left-title">对于用户</p>
                                    <p class="tab-nav-left-desc">到店享受WIFI，并通过进入WIFI定制页面了解更多信息</p>
                                </div>
                            </div>
                            <div class="col-md-6 ">

                                <img class="img-responsive" src="/static/index/images/business-right.jpg" alt="">

                            </div>
                        </div>
                        <div class="tab-panel-item">
                            <div class="col-md-6 ">
                                <div class="col-md-10">
                                    <p class="tab-nav-left-menu">微信连WIFI是微信推出的快速连接WIFI热点的功能，用户通过微信的"扫一扫"即可快速连接，通过点击提示，也可查看商户公众号，优惠活动等信息</p>
                                    <p class="tab-nav-left-title">对于商家</p>
                                    <p class="tab-nav-left-desc">解决用户到点使用WIFI问题，通过WIFI设置链接更多商机</p>
                                    <p class="tab-nav-left-title">对于用户</p>
                                    <p class="tab-nav-left-desc">到店享受WIFI，并通过进入WIFI定制页面了解更多信息</p>
                                </div>
                            </div>
                            <div class="col-md-6 ">

                                <img class="img-responsive" src="/static/index/images/business-right.jpg" alt="">

                            </div>
                        </div>
                        <div class="tab-panel-item">
                            <div class="col-md-6 ">
                                <div class="col-md-10">
                                    <p class="tab-nav-left-menu">微信连WIFI是微信推出的快速连接WIFI热点的功能，用户通过微信的"扫一扫"即可快速连接，通过点击提示，也可查看商户公众号，优惠活动等信息</p>
                                    <p class="tab-nav-left-title">对于商家</p>
                                    <p class="tab-nav-left-desc">解决用户到点使用WIFI问题，通过WIFI设置链接更多商机</p>
                                    <p class="tab-nav-left-title">对于用户</p>
                                    <p class="tab-nav-left-desc">到店享受WIFI，并通过进入WIFI定制页面了解更多信息</p>
                                </div>
                            </div>
                            <div class="col-md-6 ">

                                <img class="img-responsive" src="/static/index/images/business-right.jpg" alt="">

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>






<div class="animate-box">
    <div class="container button-demo ">
        <div class="row">
            <div class="text-center">
                <p class="business-one-menu">一切为了营销，一切为了客户，一切为了管理</p>
            </div>
            <div class="col-md-6" style="margin-left:11%;margin-top: 30px;">
                <div id="wrapper">
                    <div id="left-side">
                        <ul>
                            <li class="choose active">
                               商圈前
                            </li>
                            <li class="pay">
                                商圈内
                            </li>
                            <li class="wrap">
                                离开商圈
                            </li>
                        </ul>
                    </div>
                    <div id="border">
                        <div id="line" class="one"></div>
                    </div>
                    <div id="right-side">
                        <div id="first" class="active">
                            <div class="col-md-6 ">
                                <div class="col-md-12 side-box">
                                    <p class="wrapper-side-title">智慧消费</p>
                                    <p class="wrapper-side-desc">会员卡办理/使用</p>
                                    <p class="wrapper-side-desc">IBEACON(摇一摇)</p>
                                    <p class="wrapper-side-desc">微信收银台</p>
                                    <p class="wrapper-side-desc">微信打印机</p>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="col-md-12 side-box">
                                    <p class="wrapper-side-title">智慧硬件</p>
                                    <p class="wrapper-side-desc">会员卡办理/使用</p>
                                    <p class="wrapper-side-desc">IBEACON(摇一摇)</p>
                                    <p class="wrapper-side-desc">微信收银台</p>
                                    <p class="wrapper-side-desc">微信打印机</p>
                                </div>
                            </div>
                        </div>
                        <div id="second">
                            <div class="col-md-6 ">
                                <div class="col-md-12 side-box">
                                    <p class="wrapper-side-title">智慧消费</p>
                                    <p class="wrapper-side-desc">会员卡办理/使用</p>
                                    <p class="wrapper-side-desc">IBEACON(摇一摇)</p>
                                    <p class="wrapper-side-desc">微信收银台</p>
                                    <p class="wrapper-side-desc">微信打印机</p>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="col-md-12 side-box">
                                    <p class="wrapper-side-title">智慧硬件</p>
                                    <p class="wrapper-side-desc">会员卡办理/使用</p>
                                    <p class="wrapper-side-desc">IBEACON(摇一摇)</p>
                                    <p class="wrapper-side-desc">微信收银台</p>
                                    <p class="wrapper-side-desc">微信打印机</p>
                                </div>
                            </div>
                        </div>
                        <div id="third">
                            <div class="col-md-6 ">
                                <div class="col-md-12 side-box">
                                    <p class="wrapper-side-title">智慧消费</p>
                                    <p class="wrapper-side-desc">会员卡办理/使用</p>
                                    <p class="wrapper-side-desc">IBEACON(摇一摇)</p>
                                    <p class="wrapper-side-desc">微信收银台</p>
                                    <p class="wrapper-side-desc">微信打印机</p>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="col-md-12 side-box">
                                    <p class="wrapper-side-title">智慧硬件</p>
                                    <p class="wrapper-side-desc">会员卡办理/使用</p>
                                    <p class="wrapper-side-desc">IBEACON(摇一摇)</p>
                                    <p class="wrapper-side-desc">微信收银台</p>
                                    <p class="wrapper-side-desc">微信打印机</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 text-left">
                <p class="business-side-menu">促销活动</p>
                <p class="business-side-desc">商户可以自己运营或者第三方运营，进行促销活动的运营，常见的微信基础运营包括:自定义菜单，消息管理，客服，图文素材管理等，活动的典型有游戏营销，抽奖，调研等</p>
                <button class="btn btn-blue btn-center business-btn-side-margin">方案咨询</button>
            </div>

        </div>
    </div>
</div>

<div class="container title-demo">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center ">
            <p class="business-one-menu">会员积分</p>
            <p class="business-two-menu">消费者通过商家活动、抽奖、消费等方法获得积分，在消费者个人中心得到查询，并在线上商城消费直接抵用积分</p>

            <div class="col-md-3 ">
                <div class="div-shadow div-border business-cx">
                    <div class="fade1">
                    <div class="text-center ">
                        <p class="fa fa-user fa-4x side-icon"></p>
                    </div>
                 <p class="div-side-desc-p ">微信支付</p>
                    </div>
                    <div class="fade2">
                        <p class="div-side-desc-p ">微信支付</p>
                        <p class="div-side-desc-desc ">微信签到</p>
                        <p class="div-side-desc-desc ">增加用户粘合度</p>
                        <p class="div-side-desc-desc ">连续登录获得更多</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="div-shadow div-border business-cx">
                    <div class="fade1">
                        <div class="text-center ">
                            <p class="fa fa-user fa-4x side-icon"></p>
                        </div>
                        <p class="div-side-desc-p ">签到</p>
                    </div>
                    <div class="fade2">
                        <p class="div-side-desc-p ">签到</p>
                        <p class="div-side-desc-desc ">微信签到</p>
                        <p class="div-side-desc-desc ">增加用户粘合度</p>
                        <p class="div-side-desc-desc ">连续登录获得更多</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="div-shadow div-border business-cx">
                    <div class="fade1">
                        <div class="text-center ">
                            <p class="fa fa-user fa-4x side-icon"></p>
                        </div>
                        <p class="div-side-desc-p ">营销活动</p>
                    </div>
                    <div class="fade2">
                        <p class="div-side-desc-p ">营销活动</p>
                        <p class="div-side-desc-desc ">微信签到</p>
                        <p class="div-side-desc-desc ">增加用户粘合度</p>
                        <p class="div-side-desc-desc ">连续登录获得更多</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="div-shadow div-border business-cx">
                    <div class="fade1">
                        <div class="text-center ">
                            <p class="fa fa-user fa-4x side-icon"></p>
                        </div>
                        <p class="div-side-desc-p ">购物</p>
                    </div>
                    <div class="fade2">
                        <p class="div-side-desc-p ">购物</p>
                        <p class="div-side-desc-desc ">微信签到</p>
                        <p class="div-side-desc-desc ">增加用户粘合度</p>
                        <p class="div-side-desc-desc ">连续登录获得更多</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3  side-second">
                <div class="div-shadow div-border business-cx">
                    <div class="fade1">
                        <div class="text-center ">
                            <p class="fa fa-user fa-4x side-icon"></p>
                        </div>
                        <p class="div-side-desc-p ">跨界</p>
                    </div>
                    <div class="fade2">
                        <p class="div-side-desc-p ">跨界</p>
                        <p class="div-side-desc-desc ">微信签到</p>
                        <p class="div-side-desc-desc ">增加用户粘合度</p>
                        <p class="div-side-desc-desc ">连续登录获得更多</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 side-second">
                <div class="div-shadow div-border business-cx">
                    <div class="fade1">
                        <div class="text-center ">
                            <p class="fa fa-user fa-4x side-icon"></p>
                        </div>
                        <p class="div-side-desc-p ">评论</p>
                    </div>
                    <div class="fade2">
                        <p class="div-side-desc-p ">评论</p>
                        <p class="div-side-desc-desc ">微信签到</p>
                        <p class="div-side-desc-desc ">增加用户粘合度</p>
                        <p class="div-side-desc-desc ">连续登录获得更多</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="animate-box business-disc">
    <div class="container button-demo ">
        <div class="row">
            <div class="col-md-8 business-row">
                <div class="col-md-8">
                    <image src="/static/index/images/business-yhhd.jpg" width="100%"/>
                </div>
                <div class="col-md-4 text-left">
                    <p class="business-side-menu">优惠活动</p>
                    <p class="business-side-desc">商家通过线上线下渠道发布优惠信息，客户获得优惠券到店内消费，并且可以利用微信支付。</p>
                    <p class="business-side-desc">微信支持多种类型的支付方式，如刷卡支付、公众号支付、扫码支付、APP支付以及多种支付工具：代金券或立减优惠、现金红包、企业付款。</p>
                    <button class="btn btn-blue btn-center business-btn-side-margin">方案咨询</button>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container title-demo business-disc">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center ">
            <p class="business-one-menu">全景商圈逛街</p>
            <p class="business-two-menu">用户关注公众号后，可在任何地方，通过"逛街"菜单，进入360°街景查看商圈实地商家周边环境</p>
            <image src="/static/index/images/business-gj.jpg" width="100%"/>
        </div>
    </div>
</div>


<div class="animate-box business-disc">
    <div class="container button-demo ">
        <div class="row">
            <div class="col-md-8 business-row">
                <div class="col-md-8">
                    <image src="/static/index/images/business-dc.jpg" width="100%"/>
                </div>
                <div class="col-md-4 text-left">
                    <p class="business-side-menu">预约点餐</p>
                    <p class="business-side-desc">消费者通过公众号查看商圈商家主页，进行排号预约，并且直接通过微信进行点餐，商家直接从管理后台进行订单接收，使用微信支付</p>
                    <button class="btn btn-blue btn-center business-btn-side-margin">方案咨询</button>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="animate-box business-disc">
    <div class="container button-demo ">
        <div class="row">
            <div class="col-md-8 business-row">
                <div class="col-md-8">
                    <image src="/static/index/images/business-xb.jpg" width="100%"/>
                </div>
                <div class="col-md-4 text-left">
                    <p class="business-side-menu">小票寻宝</p>
                    <p class="business-side-desc">消费者在商圈不同商家消费，POS微信支付，利用微信打印机在打印小票上随时出现广告图，通过有序的分配到不同商家小票广告位
                    上让消费者集齐某种组合的小票进行对应的奖项领取。</p>
                    <p class="business-side-desc">微信打印机可以让用户在线下通过微信打印机屏幕上的二维码，将需要打印的照片发给商家自动打印，同时也可以成为商家微信公众号的粉丝，帮助商家积累粉丝</p>
                    <button class="btn btn-blue btn-center business-btn-side-margin">方案咨询</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="index/index/side :: side"></div>
<div th:replace="index/index/footer :: footer"></div>
<div th:include="index/index/js :: onload_js">
</div>
<script type="text/javascript" src="/static/admin/assets/js/toggle_close.js"></script>
<script type="text/javascript" src="/static/index/js/public.js"></script>
<script type="text/javascript" src="/static/index/js/aui.js"></script>
<script type="text/javascript" src="/static/index/js/business.js"></script>
<script type="text/javascript">
$(function() {
    var d = $("#slider-btn li");
    var j = $("#slider-back li");
    var a = $(".banner-text");
    var h = $(".slider-text");
    var e = $(".banner-txt a");
    var i = 0;
    d.each(function(l) {
        $(this).mouseover(function() {
            f(l)
        });
        $(this).data("index")
    });
    function f(l) {
        i = l;
        d.eq(l).addClass("active").siblings().removeClass();
        var m = a.eq(l);
        var n = m.children();
        m.siblings(".banner-text").stop(true).fadeOut(100);
        m.show();
        n.each(function() {
            var o = $(this);
            o.css({
                display: "block",
                opacity: 0,
                top: o.data("start_top") || 0,
                left: o.data("start_left") || 0
            });
            o.stop(true).delay(400).animate({
                display: "none",
                opacity: 1,
                top: o.data("to_top"),
                left: o.data("to_left")
            },
            1200);
            if (o.data("class") !== undefined) {
                o.removeClass(o.data("class"));
                setTimeout(function() {
                    o.addClass(o.data("class"))
                },
                0)
            }
        });
        j.eq(l).siblings().stop().animate({
            opacity: 0
        },
        600);
        j.eq(l).stop().animate({
            opacity: 1
        },
        600)
    }
    function g() {
        i++;
        if (i == d.length) {
            i = 0
        }
        f(i)
    }
    var c = null;
    var b = $("#slider-btn");
    var k = function() {
        var l = b.find(".active");
        c = setTimeout(function() {
            g();
            k()
        },
        l.data("delay") || 8000)
    };
    k();
    d.hover(function() {
        clearInterval(c)
    },
    function() {
        k()
    });
    f(0)
});



</script>
</body>
</html>
