<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.test.mapper.auto.NewsMapper">
  <resultMap id="BaseResultMap" type="com.fc.test.model.auto.News">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="reader" jdbcType="VARCHAR" property="reader" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="cover" jdbcType="VARCHAR" property="cover" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="text_time" jdbcType="VARCHAR" property="textTime" />
    <result column="build" jdbcType="VARCHAR" property="build" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="createtime" jdbcType="VARCHAR" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title,cover,reader, summary, description, text_time, build, `source`, createtime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_news
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_news
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fc.test.model.auto.News">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_news (title, reader, summary, cover,
      description, text_time, build, 
      `source`, createtime)
    values (#{title,jdbcType=VARCHAR}, #{reader,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR},  #{cover,jdbcType=VARCHAR},
    #{description,jdbcType=VARCHAR}, #{textTime,jdbcType=VARCHAR}, #{build,jdbcType=VARCHAR},
      #{source,jdbcType=VARCHAR}, #{createtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fc.test.model.auto.News">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_news
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="title != null">
        title,
      </if>
      <if test="reader != null">
        reader,
      </if>
      <if test="summary != null">
        summary,
      </if>
      <if test="cover != null">
        cover,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="textTime != null">
        text_time,
      </if>
      <if test="build != null">
        build,
      </if>
      <if test="source != null">
        `source`,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="reader != null">
        #{reader,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="cover != null">
        #{cover,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="textTime != null">
        #{textTime,jdbcType=VARCHAR},
      </if>
      <if test="build != null">
        #{build,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fc.test.model.auto.News">
    update t_news
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="reader != null">
        reader = #{reader,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="cover != null">
        cover = #{cover,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="textTime != null">
        text_time = #{textTime,jdbcType=VARCHAR},
      </if>
      <if test="build != null">
        build = #{build,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        `source` = #{source,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fc.test.model.auto.News">
    update t_news
    set title = #{title,jdbcType=VARCHAR},
      reader = #{reader,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
    cover = #{cover,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      text_time = #{textTime,jdbcType=VARCHAR},
      build = #{build,jdbcType=VARCHAR},
      `source` = #{source,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>