<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.test.mapper.custom.ServiceDao">
  <resultMap id="BaseResultMap" type="com.fc.test.model.auto.Service">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="times" jdbcType="VARCHAR" property="times" />
    <result column="cover" jdbcType="VARCHAR" property="cover" />
    <result column="price" jdbcType="VARCHAR" property="price" />
    <result column="discount" jdbcType="VARCHAR" property="discount" />
    <result column="sale" jdbcType="INTEGER" property="sale" />
    <result column="link" jdbcType="VARCHAR" property="link" />
    <result column="other1" jdbcType="VARCHAR" property="other1" />
    <result column="other2" jdbcType="VARCHAR" property="other2" />
    <result column="other3" jdbcType="VARCHAR" property="other3" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.fc.test.model.auto.Service">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, `desc`, `type`, area, times, cover, price, discount, sale, link, other1, 
    other2, other3
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>

  <select id="selectServiceList" resultType="com.fc.test.model.auto.Service" parameterType="String">
    select * from t_service
    <where>
      <if test="_parameter != null and _parameter!=''">
        title like concat(concat('%', #{_parameter}), '%')
      </if>
    </where>
  </select>


    <select id="ServicecoverByPrimaryKey" resultType="String" parameterType="String">
    select cover from t_service where id = #{#ids}
  </select>

  <select id="ServiceContentByPrimaryKey" resultType="String" parameterType="String">
    select content from t_service where id = #{#ids}
  </select>


  <delete id="deleteSelective" parameterType="java.lang.String">
    delete from t_service
    where id = #{ids,jdbcType=VARCHAR}
  </delete>


  <insert id="insertSelective" parameterType="com.fc.test.model.auto.Service">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_service
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="title != null">
        title,
      </if>
      <if test="desc != null">
        `desc`,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="times != null">
        times,
      </if>
      <if test="cover != null">
        cover,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="discount != null">
        discount,
      </if>
      <if test="sale != null">
        sale,
      </if>
      <if test="link != null">
        link,
      </if>
      <if test="other1 != null">
        other1,
      </if>
      <if test="other2 != null">
        other2,
      </if>
      <if test="other3 != null">
        other3,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="times != null">
        #{times,jdbcType=VARCHAR},
      </if>
      <if test="cover != null">
        #{cover,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=VARCHAR},
      </if>
      <if test="sale != null">
        #{sale,jdbcType=INTEGER},
      </if>
      <if test="link != null">
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="other1 != null">
        #{other1,jdbcType=VARCHAR},
      </if>
      <if test="other2 != null">
        #{other2,jdbcType=VARCHAR},
      </if>
      <if test="other3 != null">
        #{other3,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

</mapper>