<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div  th:fragment="footer">
    <footer>
        <div id="footer" style="margin-top:50px">
            <div class="container">
                <div class="row" style="width:75%;margin-left:17.5%">

                    <ul class="float">
                        <h3>企牛牛</h3>
                        <br>
                        <li><a href="#">这里是图片</a></li>
                    </ul>

                        <ul class="float" style="border-left:1px solid #433a5c">
                            <h3>技术支持</h3>
                            <br>
                            <li><a href="#">下载中心</a></li>
                            <li><a href="#">帮助中心</a></li>
                            <li><a href="#">招贤纳士</a></li>
                            <li><a href="#">联系我们</a></li>
                        </ul>

                        <ul class="float" style="border-left:1px solid #433a5c">
                            <h3>合作伙伴</h3>
                            <br>
                            <li><a href="#">友情链接</a></li>
                            <li><a href="#">免费申明</a></li>
                            <li><a href="#">需求发布</a></li>
                            <li><a href="#">我的服务</a></li>
                        </ul>

                        <ul class="float" style="border-left:1px solid #433a5c">
                            <h3>售后服务</h3>
                            <br>
                            <li><a href="#">业务咨询</a></li>
                            <li><a href="#">用户协议</a></li>
                            <li><a href="#">极速退款</a></li>
                            <li><a href="#">关注我们</a></li>
                        </ul>

                        <ul class="float" style="border-left:1px solid #433a5c">
                            <h3>会员管理</h3>
                            <br>
                            <li><a href="#">费用说明</a></li>
                            <li><a href="#">客服中心</a></li>
                            <li><a href="#">网络地图</a></li>
                            <li><a href="#">推广与奖励</a></li>
                        </ul>

                        <ul class="float" style="border-left:1px solid #433a5c">
                            <h3>咨询热线</h3>
                            <br>
                            <li><a href="#">400-775-0300</a></li>
                            <li><a href="#">专业技术咨询</a></li>
                            <li><a href="#">全方位产品解决</a></li>
                            <li><a href="#">成熟解决方案</a></li>
                            <li><a href="#">成功客户案例分享</a></li>
                        </ul>


                    <!--<div class="col-md-2 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">-->
                        <!--<h3>Follow Us</h3>-->
                        <!--<ul class="fh5co-social">-->
                            <!--<li><a href="#"><i class="icon-twitter2"></i> Twitter</a></li>-->
                            <!--<li><a href="#"><i class="icon-facebook2"></i> Facebook</a></li>-->
                            <!--<li><a href="#"><i class="icon-google-plus2"></i> Google Plus</a></li>-->
                            <!--<li><a href="#"><i class="icon-instagram2"></i> Instagram</a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="fh5co-copyright text-center">
                <p>上海市普陀区真南路620号同济科技园二楼</p>
                <p>Copyright&copy; 2014-2018同年(上海)网络科技有限公司 All Rights Reserved 沪ICP备15041206-3</p>
                <p>沪公网安备31010702003728号</p>
            </div>
        </div>
    </footer>
</div>
