<html lang="en" xmlns:th="http://www.thymeleaf.org">



<div th:fragment="side" class="containers " >

    <div class="askLink">
        <a href="#"  style="width: 120px;margin-left: 10px;">
            <i class="fa fa-phone-square fa-2x" style="background: #fff;color: #0b0b0b"></i>
            173-1779-0300
        </a>
        <!--<p style="width: 110px;"></p>-->
        <img src="/static/index/images/ma2.png" alt="" style="    margin: 15px;">
        <button class="btn btn-default" style="margin: 20px 0 26px 30px;">在线咨询</button>
    </div>

    <div class="links2">


        <div class="text">

            <div id="askQuestion" class="link-div">

                <i class="fa fa-wechat color-white"></i>
                <a class="link-text" >咨询</a></div>
            <div class="link-div2">
                <i class="fa fa-paper-plane-o color-white"></i>
                <a class="link-text">发布需求</a></div>
            <div  id="returnTop" class="link-div3">
                <i class="fa fa-caret-up color-white"></i>
                <a class="link-text">返回顶部</a></div>
        </div>
    </div>
</div>
