<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="side" class="containers " >
    <div class="links2">
        <div class="text">
            <div class="link-div">
                <i class="fa fa-wechat color-white"></i>
                <a class="link-text">咨询</a></div>
            <div class="link-div2">
                <i class="fa fa-paper-plane-o color-white"></i>
                <a class="link-text">发布需求</a></div>
            <div  id="returnTop" class="link-div3">
                <i class="fa fa-caret-up color-white"></i>
                <a class="link-text">返回顶部</a></div>
        </div>
    </div>
</div>
